
.icon-picture:before { content: '\e805'; } /* '' */
.icon-eye:before { content: '\e804'; } /* '' */
.icon-html5:before { content: '\e800'; } /* '' */
.icon-pagelines:before { content: '\e803'; } /* '' */
.icon-down:before { content: '\e806'; } /* '' */
.icon-menu:before { content: '\e802'; } /* '' */
.icon-android:before { content: '\e801'; } /* '' */